{
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "printWidth": 100,
    "endOfLine": "auto",
    "proseWrap": "preserve",
    "trailingComma": "es5",
    "useTabs": false
}
