@import './vars.scss';
@import './element-variables.scss';

body {
    background-color: var(--color-body-bg);
}

button {
    user-select: none;
}

.el-button.el-button--default {
    background-color: var(--color-btn-bg);
    color: var(--color-btn-text);
    border-color: var(--color-btn-border);
    &:active,
    &:focus,
    &:hover {
        background-color: var(--color-btn-hover-bg);
    }
}

.el-dialog {
    background-color: var(--color-dialog-bg);
    .el-dialog__title {
        color: var(--color-text-title);
    }
    .el-dialog__body {
        color: var(--color-text-primary);
    }
}

.el-popover.el-popper {
    background-color: var(--color-popper-bg);
    border-color: #e4e7ed;
    border-color: var(--color-popper-border);
    .el-popconfirm__main {
        color: var(--color-text-primary);
        margin: 1em;
        user-select: none;
    }
}

.el-popper.is-light {
    .el-popper__arrow::before {
        border-color: var(--color-popper-border);
        background-color: var(--color-popper-bg);
    }
}

.el-color-picker__trigger {
    border: none;
}

.el-notification {
    background-color: var(--color-notification-bg);
    border-color: var(--color-border-primary);
    .el-notification__title {
        color: var(--color-text-title);
    }
    .el-notification__content {
        color: var(--color-text-primary);
    }
}

.el-switch__core {
    background-color: var(--color-switch-bg);
    border-color: var(--color-border-primary);
}
