:root {
    --color-primary: #3051ff;
    --color-text-primary: #555;
    --color-text-secondary: #999;
    --color-text-title: #333;
    --color-text-input: #555;
    --color-border-primary: rgb(220, 223, 230);
    --color-body-bg: #f7f7f7;
    --color-btn-bg: #fff;
    --color-btn-hover-bg: #f5f5f5;
    --color-btn-text: #606266;
    --color-btn-border: #606266;
    --color-switch-bg: #e9ebef;
    --color-notification-bg: #fff;
    --color-input-bg: #fff;
    --color-placeholder: #666;
    --color-dialog-bg: #fff;
    --color-settings-container-bg: #f8f8f8;
    --color-popper-bg: #fff;
    --color-popper-border: #ebeef5;
}

:root[theme='dark'] {
    --color-primary: #3051ff;
    --color-text-primary: rgb(201, 209, 217);
    --color-text-secondary: #666;
    --color-text-title: rgb(184, 181, 181);
    --color-text-input: rgb(201, 209, 217);
    --color-border-primary: rgb(184, 181, 181);
    --color-body-bg: #0d1117;
    --color-btn-bg: #21262d;
    --color-btn-hover-bg: #30363d;
    --color-btn-text: rgb(201, 209, 217);
    --color-btn-border: rgb(201, 209, 217);
    --color-switch-bg: #21262d;
    --color-notification-bg: #21262d;
    --color-input-bg: #161b22;
    --color-placeholder: #555;
    --color-dialog-bg: #21262d;
    --color-settings-container-bg: #21262d;
    --color-popper-bg: #21262d;
    --color-popper-border: #e4e7ed;
}
